@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply h-full w-full grid;
  font-family: 'Poppins', sans-serif;
}

body {
  background-size: 114px 95px;
  background-image: linear-gradient(to right, #45d8ff1a 0.44px, transparent 1px),
    linear-gradient(to bottom, #45d8ff1a 0.44px, transparent 1px);
}
